.pct-ui-image {

    &-root {
        background-color: rgba($color: #262626, $alpha: 0.9);
    }

    &-container {
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;

        img {
            visibility: hidden;
            max-width: 90vw;
            max-height: 90vh;
        }
    }

    &-label {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        color: #fff;
        text-transform: uppercase;

        .title,
        .description {
            text-align: left;
        }

        .description {
            font-size: 0.7rem;
        }
    }

    &-buttons {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        transition: opacity 300ms ease-in-out;
        opacity: 0;

        &:hover {
            opacity: 0.8;
        }

        svg {
            cursor: pointer;
            position: absolute;
            margin: 10px;
        }

        .close {
            top: 0;
            right: 0;
        }

        .next {
            right: 0;
        }

        .prev {
            left: 0;
        }
    }


}