.page-404 {

    &-root {
        position: relative;
        width: 100vw;
        height: 100vh;
        font-family: 'Arvo', serif;
    }

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-image {
        z-index: -1;
        position: absolute;
    }

    &-header {
        font-size: 5rem;
    }

    &-footer {
        margin-top: 400px;
        text-align: center;
        a {
            color: #fff;
            padding: 10px 20px;
            background: #39ac31;
            margin: 20px 0;
            display: inline-block;
        }

        h3 {
            font-size: 2rem;
        }
    }
}